@import "../../_variables";

.row {
  display: flex;
  flex-direction: column;

  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    font-weight: 700;
  }
  .link {
    color: $primary-color;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
  }
}