@import "../variables";
.heroWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 466px;
  max-height: 600px;
  background-color: $secondary-color;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  p {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
  button {
    border: none;
    margin-top: 15px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 50px;
    border-radius: 16px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    border: 2px solid #fff;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color;
    }
  }
}
.price {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .priceWrapper {
    background-color: #fff;
    max-width: 637px;
    padding: 60px 36px;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    h1 {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 60px;
    }
    .priceLines {
      display: flex;
      flex-direction: column;
      gap: 38px;

      .priceLine {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid $secondary-color;
        border-radius: 12px;
        color: $secondary-color;
        font-size: 25px;
        font-weight: 700;
        height: 54px;
        padding: 0 32px;
      }
    }

    button {
      padding: 12px 0;
      font-size: 18px;
      font-weight: 700;
      margin-top: 83px;
      width: 100%;
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 16px;
      border: 2px solid $secondary-color;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: transparent;
        color: $secondary-color;
      }
    }
  }
}
.formGroup {
  padding: 160px 0;
  display: flex;
  justify-content: center;
  form {
    max-width: 792px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .form {
      position: relative;
      input {
        width: 380px;
        height: 52px;
        border: 1px solid #000;
        outline: none;
        background-color: #f5f5f5;
      }
      label {
        position: absolute;
        top: -20px;
        left: 0.6rem;
        padding: 10px;
        font-weight: 600;
        font-size: 12px;
        background-color: #f5f5f5;
      }

      textarea {
        width: 786px;
        height: 266px;
        background-color: #f5f5f5;
        outline: none;
      }
    }
    button {
      display: block;
      margin-left: auto;
      background-color: $secondary-color;
      color: $primary-color;
      border-radius: 16px;
      font-weight: 700;
      font-size: 18px;
      padding: 12px 52px;
      cursor: pointer;
      border: 2px solid $secondary-color;
      transition: all 0.3s ease;
      &:hover {
        color: $secondary-color;
        background-color: transparent;
      }
    }
  }
}
@media (max-width: 580px) {
  .price {
    padding: 160px 12px;
    .priceWrapper {
      width: 90% !important;
    }
  }
}

@media (max-width: 800px) {
  form {
    flex-direction: column;
    width: 85%;
    .form {
      display: flex;
      justify-content: center;
      input {
        width: 85% !important;
      }
      textarea {
        width: 85% !important;
      }
    }
  }
}
