nav {
  padding: 28px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    display: flex;
    gap: 16px;

    .link {
      color: #12100cb2;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .btn {
    background-color: #12100c;
    padding: 12px 23px;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
  }

  .mobile {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}

@media (max-width: 640px) {
  .btn {
    display: none;
  }
}

@media (max-width: 450px) {
  .links {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
