@import "../../variables";

footer {
  background-color: #fff;
  padding: 48px 0 100px;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    .rows {
      padding-bottom: 48px;
      display: flex;
      gap: 170px;
      border-bottom: 1px solid #ece7e5;


    }
    .copyright {
      display: flex;
      padding-top: 33px;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 920px) {
  .rows {
    gap: 100px !important;
  }
  .copyright {
    gap: 380px !important;
  }
}

@media (max-width: 670px) {
  .rows {
    gap: 50px !important;
    flex-direction: column;
    text-align: center;
  }
  .copyright {
    gap: 50px !important;
    justify-content: start !important;
  }
}

@media (max-width: 350px) {
  .copyright {
    flex-direction: column;
  }
}
