@import "../../variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  h1 {
    font-size: 54px;
    font-weight: 700;
    text-align: center;
  }
  .cards {
    display: flex;
    gap: 24px;
    justify-content: center;

    .card {
      background-color: #fff;
      border-radius: 16px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 391px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .userInfo {
        margin-bottom: 20px;
        display: flex;
        gap: 13px;
        align-items: center;
        .textBox {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h5 {
            font-weight: 700;
            font-size: 16px;
            margin: 0;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
          }
        }
      }
    }
  }
  .logos {
    padding: 40px 0 87px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

@media (max-width: 1000px) {
  .cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .wrapper {
    h1 {
      font-size: 36px;
    }
  }
}
